html {
  scroll-behavior: smooth;
}
body {
  background-color: #ddd;
  color: #222;
  margin: 0;
  margin-top: 30vh; 
  font-family: Arial, Helvetica, sans-serif;
}
body::after {
  background: url("../img/grid-transparent.png");
  content: "";
  opacity: 0.15;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;  
}
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  font-family: 'Source Code Pro', monospace;
  text-transform: uppercase;
}
p,
li {
  line-height: 2;
  color: #555;
  letter-spacing: 1px;
}
h1 {
  font-size: 2.5rem;
  font-weight: 600;
}
h2 {
  font-size: 2rem;
  font-weight: 600;
}
h3 {
  font-size: 1.5rem;
  font-weight: 600;
}
h4 {
  font-size: 1rem;
  font-weight: 700;
}
h5 {
  font-size: .8rem;
  font-weight: 600;
}
i {
  font-size: .8rem;
}
li ul {
  padding-left: 20px;
}
.section-header {
  margin-bottom: 2.8rem;
  margin: 0 -2rem 2.8rem;
}
.section-header h2 {
  overflow: hidden;
  text-indent: 1rem;
}
.section-header h2:before,
.section-header h2:after {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 3px;
  position: relative;
  vertical-align: middle;
  width: 67%;
}
.section-header h2:before {
  right: 0.5em;
  margin-left: -50%;
}
.section-header h2:after {
  left: 0.5em;
  margin-right: -50%;
}

/* layout */

.wrapper {
  min-height: 80vh;
}
.portfolio-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* nav */

.nav-block {
  transition: display 1.5s ease;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 23%;
  height: 100vh;
  display: flex
}
#color-block {
  background-color: #c88f05;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 23%;
  height: 100vh;
  display: flex; 
  z-index: -2;
}
nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #383838;
}
nav a {
  font-family: 'Source Code Pro', monospace;
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  color: #383838;
  margin-right: 1rem;
  padding: .25rem 0;
}
nav a:visited,
nav a:active,
nav a:focus-within,
nav a:focus {
  text-decoration: none;
}
nav .active {
  color: #0056b3;
  text-decoration: underline;
}
.contact {
  margin-top: .5rem;
  text-align: center;
}
.contact a {
  cursor: pointer;
}
.icon {
  display: none;
}

/* header */

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.about-header {
  display: inline-block;
  position: relative;
}
.header h1,
.header h4 {
  margin: 0 auto
}
.header-right {
  position: absolute;
  left: 215px;
  top: -15px;
}
.header-bottom {
  margin-bottom: 2.8rem;
}
.header-bottom h4 {
  display: inline;
  margin-right: 1rem;
}
.header-bottom a {
  color: #222;
  cursor: pointer;
}
.header-paragraph p {
  padding-top: 1rem;
}
.lowercase {
  text-transform: lowercase;
}

/* skills */

.skills-lists {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}
.skills-list h4 {
  line-height: 2;
}
.chevron {
  display: none;
}

/* portfolio */

.portfolio-item h3 {
  margin: 2.4rem 0;
}
.portfolio-item {
  margin-bottom: 5rem;
}
.portfolio-img {
  -webkit-box-shadow: 0px 7px 31px -6px rgba(87,87,87,1);
  -moz-box-shadow: 0px 7px 31px -6px rgba(87,87,87,1);
  box-shadow: 0px 7px 31px -6px rgba(87,87,87,1);
  padding: 0;
  margin: 2.5rem 0;
}
.portfolio-text {
  padding-left: 4rem;
}
.portfolio-text-upper {
  position: relative;
}
.portfolio-text-sub {
  font-family: 'Source Code Pro', monospace;
  text-transform: uppercase;
}
.portfolio-text-sub__links {
  margin-top: .8rem;
  font-size: .8rem;
}
.portfolio-text-sub h5,
.portfolio-text-sub ul {
  margin: 0;
  font-weight: 600;
}
.portfolio-text-upper,
.portfolio-text-sub {
  line-height: 1.8;
  padding-top: 1rem;
  padding-left: 2rem;
  padding-bottom: .5rem;
  border-left: 3px solid #222;
}
.portfolio-text-title {
  position: relative;
  padding: 1rem;
}
.portfolio-text-upper::after,
.portfolio-text-title::after {
  position: absolute;
  border-bottom: 3px solid #222;
  content : "";
  left    : 0;
  bottom  : 0;
  height  : 3px;
  width   : 45%;  
}
.portfolio-text-title h3,
.portfolio-text-title h4 {
  margin: 0;
}
.portfolio-text-title h4 {
  margin-left: 1rem
}
.portfolio-text-sub ul {
  list-style-position: outside;
  color: #555;
  font-size: .8rem;
}

/* cheers */
.cheers {
  text-align: center;
  margin-top: 30vw;
}
.cheers .section-header h2:before {
  right: 0.5em;
  margin-left: -60%;
}
.cheers .section-header h2:after {
  left: 0.5em;
  margin-right: -60%;
}

/* media queries */

/* Extra Small devices (landscape phones, up to 420px) */
@media (max-width: 420px) { 
  nav a {
    font-size: 4vw;
  }
  .about-header h1 {
    font-size: 9vw;
  }
  .header-right {
    left: 35vw;
  }
  .portfolio-text-title h4 {
    font-size: 4vw;
  }
  .portfolio-text-title h3 {
    font-size: 7vw;
  }
}

/* Medium devices (tablets, up to 768px) */
@media (max-width: 768px) { 
  #color-block {
    display: none;
  }
  .nav-block {
    background-color: #c88f05;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    display: flex;
    z-index: 5;
  }
  nav {
    transition: flex-direction 2s ease;
    flex-direction: row;
  }
  .icon-title {
    display: none;
  }  
  .contact-icons {
    display: flex;
    position: fixed;
    right: 0;
    top: 1rem;
  }
 }

/* Large devices (desktops, up to 992px) */
@media (max-width: 992px) { 
  .section-header h2 {
    text-align: center;
    text-indent: 0;
  }
  .chevron {
    display: inline;
  }
  .portfolio-img {
    margin: 0 3rem;
  }
  .portfolio-text {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .portfolio-text-upper,
  .portfolio-text-sub {
    border-left: none;
    border-right: none;
    padding-left: 1rem;
  }
  .portfolio-text-upper::after,
  .portfolio-text-title::after {
    width: 100%;
   }
   .portfolio-img__second {
     display: none;
   }
 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  #color-block,
  .nav-block {
    max-width: 320px;
  }
 }
 
 /* Small devices (landscape phones, up to 576px) */
@media (max-width: 576px) { 
  nav {
    justify-content: start;
    margin-left: 2rem;
  }
  .section-header {
    margin: 2rem 1rem 2.8rem;
  }
  .portfolio-img {
    margin: 1rem;
  }
  .portfolio-text {
    padding: 0 3rem;
  }
  .cheers .section-header span {
    display: none;
  }
}